@import "../sass/mixins";

.Day {
  width: 15rem;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  &_Shift {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
    @include center_flex_col;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
