.Modal {
  position: fixed;
  display: block;
  display: none;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 40rem;
  margin-left: -15rem;
  margin-top: -20rem;
  padding: 0 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 1.5rem;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.27);
  z-index: 100;
}
.isOpen {
  display: block;
}
.closeBtn {
  width: 3rem;
  margin-top: -0.7rem;
  text-align: left;
  color: #e84855;
  font-size: 3.7rem;
  cursor: pointer;
}

.outerWrapper {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding: 1rem 0.2rem;
}
.innerWrapper {
  width: 100%;
  height: 100%;
}
